@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&display=swap');

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(to top, #00000080 0%, #00000000 49.88%, #00000080 100%), url('./assets/images/Pattern@2x.png') fixed;
  background-size: cover;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #000000;
  font-size: 16px;
  font-weight: 400;
}

.wrapper {
  margin: 0 auto;
  padding: 36px 80px;
}

.App-header {
  margin-bottom: 24px;
  font-family: 'Exo 2', sans-serif;
  font-size: 36px;
  color: #fff;
  text-align: center;
  line-height: 44px;
  text-shadow: 0 0 1px #000000;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 80px;
  justify-content: center;
  align-items: center;
}

.product {
  overflow: hidden;
  width: 320px;
  min-height: 509px;
}

.border {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1698d9;
  max-width: 320px;
  height: 480px;
  border-radius: 12px;
  cursor: pointer;
  -webkit-clip-path: polygon(15% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 10%);
  clip-path: polygon(15% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 10%);
}

.card {
  position: relative;
  max-width: 312px;
  height: 472px;
  background-color: #f2f2f2;
  padding: 21px 51px;
  border-radius: 10px;
  box-sizing: border-box;
  overflow: hidden;
  -webkit-clip-path: polygon(14.7% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 9.7%);
  clip-path: polygon(14.7% 0, 100% 0, 100% 0, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 9.7%);
}

.text {
  color: #666666;
  line-height: 100%;
}

.title {
  font-size: 48px;
  font-weight: 700;
  line-height: 100%;
  margin: 5px 0;
}

.subtitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 15px;
}

.quantity {
  color: #666666;
  font-size: 14px; 
  line-height: 16px;
}

.count {
  font-weight: 700;
}

.picture {
  position: absolute;
  bottom: -88px;
  right: -24px;
  width: 368px;
  height: 360px;
  background: url('./assets/images/Photo@2x.png') no-repeat;
  background-size: contain;
}

.circle {
  position: absolute;
  right: 16px;
  bottom: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #1698d9;
  color: #fff;
  font-size: 21px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

.weight {
  font-size: 42px;
  line-height: 42px;
}

.description {
  margin-top: 14px;
  color: #fff;
  font-size: 13px;
  line-height: 100%;
  text-align: center;
}

.sale {
  position: relative;
  color: #1698d9;
  text-decoration: none;
  cursor: pointer;
}

.sale::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #1698d9;
}

.dot {
  color: #1698d9;
}

.default-hover {
  background: #2ea8e6;
}

.default-hover-text {
  color: #2ea8e6;
}

.selected {
  background: #d91667;
}

.selected-hover {
  background: #e52e7a;
}
.selected-hover-text {
  color: #e52e7a;
}

.disabled {
  background: #b3b3b3;
}

.disabled-text {
  color: #b3b3b3;
  opacity: .6;
}

.disabled-pic {
  opacity: .6;
}

@media (max-width: 1180px) {
  .wrapper {
    padding: 30px 40px;
  }

  .product {
    width: 258px;
    min-height: 400px;
  }
  
  .border {
    max-width: 258px;
    height: 387px;
    margin: 0 auto;
  }

  .card {
    width: 250px;
    height: 379px;
    padding: 21px 40px;
  }

  .text {
    font-size: 12px;
  }
  
  .title {
    font-size: 36px;
  }
  
  .subtitle {
    font-size: 20px;
  }
  
  .quantity {
    font-size: 12px; 
  }
  
  .picture {
    bottom: -74px;
    right: -20px;
    width: 297px;
    height: 290px;
  }
  
  .circle {
    right: 12px;
    bottom: 12px;
    width: 64px;
    height: 64px;
    font-size: 18px;
    line-height: 19px;
  }
  
  .weight {
    font-size: 32px;
    line-height: 32px;
  }
  
  .description {
    font-size: 12px;
  }
}

@media (max-width: 916px) {
  .wrapper {
    padding: 30px 40px;
  }

  .products {
    gap: 50px;
  }

  .product:first-child {
    flex: 100%;
  }
}

@media (max-width: 340px) {
  .App-header {
    font-size: 28px;
    line-height: 32px;
  }
  
  .wrapper {
    padding: 30px;
  }
  
  .product {
    width: 220px;
    min-height: 340px;
  }

  .border {
    max-width: 220px;
    height: 330px;
  }

  .card {
    width: 214px;
    height: 324px;
    padding: 18px 30px;
  }

  .text {
    font-size: 11px;
  }
  
  .title {
    font-size: 32px;
  }
  
  .subtitle {
    font-size: 18px;
  }
  
  .quantity {
    font-size: 11px; 
  }
  
  .picture {
    bottom: -74px;
    right: -20px;
    width: 253px;
    height: 248px;
  }
  
  .circle {
    right: 12px;
    bottom: 12px;
    width: 64px;
    height: 64px;
    font-size: 18px;
    line-height: 19px;
  }
  
  .weight {
    font-size: 32px;
    line-height: 32px;
  }
  
  .description {
    font-size: 11px;
  }
}